body {
    font-family: "Poppins" sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* -------------------------------------header-------------------------------------*/

.header .container {
    display: flex;
}

.navigation {
    display: flex;
}

.nav-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 237px;
    padding: 22px 0;
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.nav-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
}

.nav-list-item-active {
    font-weight: 600;
}

.header-list-btm {
    display: flex;
    gap: 21px;
    margin-left: auto;
    align-items: center;

}

.header-list-btm-item {
    padding: 19px 0;
}

.header-list-sign-in {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-list-sign-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* -------------------------------------header-------------------------------------*/

/* --------------------------------------hero--------------------------------------*/

.hero .container {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-bottom: 100px;
}

.container {}

.hero-container-text {}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-list-btr {
    display: flex;
    gap: 30px;
}

.hero-list-btr-item {}

.hero-list-btr-item-get {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #02897a;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-list-btr-item-watch {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
}

/* --------------------------------------hero--------------------------------------*/

/* -------------------------------------product------------------------------------*/

.product .container {
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    width: 539px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;

}

.product-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-icon-span-one {
    background-color: #02897a;
}

.product-icon-span-two {
    background-color: #4d8dff;
}

.product-icon-span-three {
    background-color: #740a76;
}

.product-icon-span-four {
    background-color: #f03e3d;
}

.product-icon-span {
    display: flex;
    border-radius: 19px;
    width: 54px;
    height: 54px;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.product-icon {
    fill: #fff;
}

.product-list-item {
    width: 255px;
    height: 204px;
    margin-bottom: 50px;
}

.product-title-item {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 16px;
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-btm {
    display: block;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* -------------------------------------product------------------------------------*/

/* -------------------------------------feedback-----------------------------------*/
/* -------------------------------------feedback-----------------------------------*/

/* ---------------------------------------promo------------------------------------*/

.promo {
    border-radius: 32px;
    max-width: 968px;
    max-height: 345px;
    background: #02897a;
    margin: 0 auto 100px;
}

.promo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.promo-container-item {
    margin-left: 51px;
    margin-bottom: 56px;
    margin-top: 49px;
} 

.promo-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    width: 510px;
    margin-bottom: 46px;
    padding-right: 90px;
}

.promo-btm {
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------promo------------------------------------*/

/* --------------------------------------footer------------------------------------*/
.footer-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 8px;
    margin-bottom: 18px;
} 

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link-item {
    border-radius: 100%;
    background-color:  #edfffc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    stroke: #02897a;
    stroke-width: 2px;
    fill: none;
}
/* --------------------------------------footer------------------------------------*/

/* ---------------------------------------modal------------------------------------*/

.modal-container {
    padding: 50px 0px;
    width: 871px;
    height: 1484px;
}

.modal-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.67647;
    letter-spacing: 0.01em;
    text-align: center;
    color: #252b42;
    padding: 10px;
    width: 214px;
    height: 77px;
    margin-top: 50px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

.modal-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.01em;
    text-align: center;
    color: #374754;
    max-width: 312px;
    height: 56px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.modal-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21.47px;
    margin-bottom: 55.97px;
}

.modal-social-link-item {
    border-radius: 100%;
    background-color: #edfffc;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    padding: 10px 0px;
    width: 871px;
    height: 343px;
    margin-bottom: 50px;
}

.modal-form {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    width: 868px;
    height: 670px;
}

.form-text {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    text-align: center;
    color: #252b42;
    margin-bottom: 47.17px;
}


.form-input {
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 19px 20px;
    width: 768px;
    height: 54px;
    background-color: #f5f5f5;
    margin-bottom: 45px;
}

.form-input::placeholder,
.form-textarea::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.06667;
    letter-spacing: 0.01em;
    color: #22343d;
}


.form-textarea {
    border: 1px solid #e8e8e8;
    padding: 23px 20px;
    width: 768px;
    height: 193px;
    background-color: #f5f5f5;
    resize: none;
    margin-bottom: 45px;
}

.modal-btm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #fff;
    border-radius: 35px;
    padding: 18px 38px;
    width: 145px;
    height: 52px;
    background-color:#02897a;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}